.header nav{
    position: relative;
    background-color: #EFA498;
    padding-top: 0.875rem;
    padding-bottom: 0.857rem;
    z-index: 2;
}

.headere__logo img{
    height: 3.375rem;
    width: 15.625rem;
}

.header__links a{
    color: #FFFFFF;
    transition: color 200ms ease-in-out;
    position: relative;
}

.header__links a:not(:last-child){
    margin-right: 32px;
}

.header__links a::before{
    content:"";
    display: block;
    position: absolute;
    height: 5px;
    top: 0px;
    left: 0px;
    bottom: -30px;
    background: #CF2681;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.header__links a:hover{
    color: #CD5909;
}

.header__links a:hover::before{
    opacity: 1;
}

/*Mobile Menu Toggle*/
.header__toggle span{
    display: block;
    width: 26px;
    height: 3px;
    background-color: #FFFFFF;
    transition: all 300ms ease-in-out;
    transform-origin: 2px 2px;
}

.header__toggle span:not(:last-child){
    margin-bottom: 5px;
}

/*Hamburger open styles*/
.open span:first-child{
    transform: rotate(45deg);
}

.open span:nth-child(2){
    opacity: 0;
}

.open span:last-child{
    transform: rotate(-45deg);
}

.overlay{
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(hsl(233, 26%, 24%), transparent);
    z-index: 1;
}

.header__menu{
    position: absolute;
    width: calc(100% - 3rem);
    background:  #EFA498;
    padding: 1.625rem;
    margin: 0px 1.5rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    z-index: 2;
}

.header__menu a{
    display: block;
    padding: 0.625rem;
    color: #FFFFFF;
    text-align: center;
}
