/*Fade in and out*/
.has-fade{
    visibility: hidden;
}

@keyframes fade-in{
    from{
        visibility: hidden;
        opacity: 0;
    }
    1%{
        visibility: visible;
        opacity: 0;
    }
    to{
        visibility: visible;
        opacity: 1;
    }
}

.fade-in{
    animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out{
    from{
        visibility: visible;
        opacity: 1;
    }
    99%{
        visibility: visible;
        opacity: 0;
    }
    to{
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out{
    animation: fade-out 200ms ease-in-out forwards;
}

/*Image slider*/
@keyframes slider{
    from{
        left: 0;
    }

    1%{
        left: 0;
    }

    20%{
        left: 0;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    99%{
        left: -400%;
    }
    to{
        left: -400%;
    }
}