html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    line-height: 1.3;
    background-color: #EFA498;
    font-size: 1rem; /*16px*/
    font-weight: 300;
}

.noscroll{
    overflow: hidden;
}

/*Spacing*/
.container{
    padding: 0px 1.25rem;
}

/*Flexbox*/
.flex{
    display: flex;
}

.flex-jc-sb{
    justify-content: space-between;
}

.flex-jc-c{
    justify-content: center;
}

.flex-ai-c{
    align-items: center;
}

/*Links*/
a, a:visited, a:hover{
    text-decoration: none;
}

/*Buttons*/
.button-s{
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;
    cursor:pointer;
    background: linear-gradient(89deg, rgba(207, 38, 129, 0.72) 5.3%, rgba(205, 89, 9, 0.72) 112.08%);
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
    transition: opacity 300ms ease;
}

.button-s:hover{
    opacity: 0.8;
}

/*Visibility*/
/*1023px*/
@media (max-width: 63.9375em){
    .hide_for_mobile{
        /*hide for mobile and tablet*/
        display: none;
    }
}

/*1024px*/
@media (min-width: 64em){
    .hide_for_desktop{
        /*hide for desktop viewimport widths*/
        display: none;
    }
}


